.moviePoster-container {
  width: 15vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}
.moviePoster-container:hover{
  transform: scale(1.1);
}
.moviePoster-img-progressbar-container {
  width: 15vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
}
.moviePoster {
  height: 30vh;
  width: 12vw;
  border-radius: 0.5rem;
}
.movieTitleText-container > h3 {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Goudy Bookletter 1911", sans-serif;
  line-height: 1.2rem;
  clear: both;
  overflow: hidden;
  white-space: wrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.movieTitleText-container {
  margin-top: 5px;
  margin-left: 10px;
  width: 8rem;
  height: 3rem;
}
