.progressbar-div{
    background-color: black;
    justify-content: center;
    align-items: center;
    display: inline-block;
    border-radius: 100px;
    position: absolute;
    bottom:-2px;
    left: 30px;
}
.circularProgressbar{
    height: 5vh;
    
}